<!DOCTYPE html>
<html lang='en'>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
  <div class="login">
    <h1>What do you want to do?</h1>
    <br>
   <div class="btn-group">
      <a routerLink="/login"><button class="btn btn-primary">Login</button></a>
      <a routerLink="/browse"><button class="btn btn-primary">Browse</button></a>
      <a routerLink="/filter_type"><button class="btn btn-primary">Filter by type</button></a>
      <a routerLink="/filter_severity"><button class="btn btn-primary">Filter by severity</button></a>
    </div>
  </div>
</body>

</html>