<div *ngIf="movie" class="center">
    <h2>movie {{movie.title}} details</h2>
    <div>
        <label>Title: </label> {{movie.title}}
    </div>
    <div>
        <label>Year: </label> {{movie.year}}
    </div>
    <div>
        <label>Actors: </label>
        <ol *ngFor="let actor of movie.actors">
            {{actor.name}} -- {{actor.rating}}
        </ol>
        <br>
        <button (click)="addActorsButton()">Add more actors</button>
    </div>
    <br>
    <div *ngIf="buttonClicked">
        <label for="actors">Choose an actor:</label>
        <br><br>

        <select name="actors" id="actors" (click)="getActorIndex($any($event.target).value)">
            <option selected disabled>Choose here</option>
            <option *ngFor="let actor of actors; let i = index" [value]="i">
                {{actor.name}}
            </option>
            <!-- <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option> -->
        </select>
        <br><br>
        <button (click)="addActor()">Add</button>
    </div>
    <br><br>
    <button (click)="goBack()">Back</button>
</div>