h2{
    font-size: 50px;
    background: #092756;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size:35px;
    font-weight: bolder;
    margin-left: 30px;
  }
  
body{
    background-color:#092756;
    height: 100vh;
    overflow: auto;
    
  }

.welcome-message{
    position: absolute;
    left: 40%;
    top: 6%;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 30px;
    background-color: #dddddd;

}

td,
th {
    border: 1px solid #092756;
    text-align: left;
    padding: 8px;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}
select{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}
input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#4b99d8 ;
}
 



