.center {
    margin-left: 30px;
    margin-top: 20px; 
  }

.selected {
    background-color: rgb(135, 71, 172) !important;
    color: white;
}
.spells {
    margin: 0 0 2em 0;
    padding: 0;
    width: 15em;
}
.spells li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.spells li.selected:hover {
    background-color: rgb(135, 71, 172) !important;
    color: white;
}
.spells li:hover {
    color: rgb(135, 71, 172);
    background-color: rgb(225, 208, 234) ;

}
.spells .text {
    position: relative;
    top: -3px;
}
.spells .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: rgb(85, 186, 214);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
button.delete {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: purple !important;
    color:white;
}