<div class="center">
    <label>Id:
        <input #Id required/>
        <br/>
      </label>

    <label>WizardId:
        <input #wizardId required/>
        <br/>
      </label>
      
      <label>SpellId:
        <input #spellId required/>
        <br/>
      </label>
      
      <label>Details:
        <input #details required/>
        <br/>
      </label>
      
      <button (click)="updateSpell(Id.value, wizardId.value, spellId.value, details.value)">
        Save
      </button>
</div>
