body {
    background-color: aquamarine;
}

div {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

li {
    margin-right: 24px;
    margin-bottom: 4px;
}

.container {
    display: flex;
    justify-content: center;
}